.mainBody{
    background-color: #ebebeb;
}
.contenedorImagen img{
    max-width: 100%;
}
header {
    background-size:cover;
    background-color: #fff159;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing:border-box;
    width: 100vw;
    
}
li {
    list-style:none;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.price {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 8vw;

}
.discount {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    width: 70%;
}
.containerPriceDiscount{
    width:430px;
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content:left;
}
.titleArticles{
    color: #666;
    padding:20px;
}
.titleArticles2{
    color: #666;
    padding:20px;
}

.burger-menu{
    background-color: #0e61b9;
    color : rgba(255, 255, 255, 0.815);
    
    border-radius: 15%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}
.burger{
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 11px;
}
.credit-card{
    padding-left: 125px;
    padding-right: 125px;
    color:#1259c3;
    padding-bottom:10px;
}
.gift{
    padding-left: 125px;
    padding-right: 125px;
    color:#1259c3;
    padding-bottom:10px;
}
.user-shield{
    padding-left: 125px;
    padding-right: 125px;
    color:#1259c3;
    padding-bottom:10px;
}
.footerText1{
    text-align: center;
}
.footerText2{
    text-align: center;
}
.footerText3{
    text-align: center;
}

.bannerhome{
    text-align: center;
    margin:0;
}
.bannerimg{
    width: 50%;
    height: 20vh;
    margin-top: 20px;
}
footer{
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px gray;
    margin-top:15px;
}
.mainBody{
    margin: 0px;
}
.containerArticles{
    display:flex;
    width: 100vw;
    flex-wrap: wrap;
}
.segundoContainerArticles{
    display:flex;
    width:100vw;
    flex-wrap: wrap;
}
.caja{
    border-top: 1px solid #ebebeb;
    text-align: left;
    margin:15px;
}

.divBurger{
    text-align: center;
}
.articulo{
    background-color: white;
    box-shadow: 0 0 10px gray;
}
.articuloOferta{
    box-shadow: 0 0 10px gray;
    background-color: white;
    width: 94vw;
}
.fas.fa-truck{
    color:#39b54a;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.titleArticles{
    background-color: #ebebeb;
    margin:0;
    color: #666;
    font-family:'Proxima Nova';
    font-weight: normal;
}
.titleArticles2{
    background-color: #ebebeb;
    margin:0;
    color: #666;
    font-family:'Proxima Nova';
    font-weight: normal;
}
.fas.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left:200px;
    bottom: -15px;

}
footer{
    background-color: white;
}
ul{
   display: none; 
}
.discount{
    color:#39b54a;
}
@media (min-width:768px) {
    .site li a{
        padding:20px;
    }
    .containerNavBar a{
        text-decoration:none;
        color:black;
    }
    .containerNavBar{
        display:flex;
        flex-direction: row;
        align-content: space-between;
        align-self: center;
        align-items: center;
    }
    .containerLogCart{
        text-decoration:none;
        color:black;
        display:flex;
    }
    .logoContainer img{
        max-width: 100%;
    }
    .containerLogoBarraTitulo{
        width:100%;
        display:flex;
    }
    .logoContainer{
        width:33%;
    }
    .barraBusqueda{
        width:33%;
    }

    .caja{
        width:100%;
    }
    .price{
        width: 30%;
    }
    .discount{
        width: 70%;
    }
    .fas.fa-truck{
        position: relative;
        left:315px;
        bottom: -15px;
    }
    
    .contenedorImagen img{
        max-width: 100%;
    }
    .containerArticles article{
        width: 42%;
    }
    .segundoContainerArticles article{
        width:42%;
    }
    header{
        background-size:cover;
        box-sizing: content-box;
        height: 20vh;
        background-color: #fff159;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        width: 100%;
    }
    .fas.fa-bars{
        display:none;
    }
    .burger-menu{
        display:none;
    }
    .description {
        color:#666;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        position:relative;
    }
    .articulo{
        flex-wrap: wrap;
        margin-right:60px;
    }
    .articuloOferta{
        flex-wrap: wrap;
        margin-right: 60px;
    }
    .site{
        display: inherit;
        width:55%;
     }
    .create-login-cart{
        display:flex;
        padding:10px;
    }
    .create-login-cart a{
        padding:15px;
    }
}
@media (min-width:1024px) {
    
    .contenedorImagen img{
        max-width: 100%;
    }
    .articulo{
        justify-content: center;
        margin-bottom:15px;
    }
    .articuloOferta{
        justify-content: center;
        margin-bottom:15px;
    }
    header{
        height: 25vh;
        background-size:cover;
        box-sizing:content-box;
        background-color: #fff159;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        width: 100vw;
    }
    .fas.fa-bars{
        display:none;
    }
    .burger-menu{
        display:none;
    }
    .description {
        color:#666;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
    .site{
        display: flex;
    }
    .create-login-cart{
        display:inherit;
        margin-left:150px;
    }
    .containerArticles article{
        width:20%;
    }
    .segundoContainerArticles article{
        width:20%;
    }

}
@media (min-width: 361px){
    .containerLogoBarraTitulo{
        display:flex;
        padding:20px;
    }
    .logoContainer img{
        max-width: 75%;
    }
    .barraBusqueda{
        width:40%
    }
    .barraBusqueda input{
        width:80%;
        height: 30px;
        border-radius: 5px;
        border:0;
    }
    .divBurger{
        padding: 10px;
    }
    .caja{
        width:100%;
    }
    .price{
        width: 30%;
    }
    .discount{
        width: 70%;
    }
    .fas.fa-truck{
        position: relative;
        left:135px;
        bottom: -15px;
    }
    .contenedorImagen img{
        max-width: 100%;
    }
    header{
        background-color: #fff159;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        width: 100%;
    }
    .articulo{
        justify-content: center;
        margin-bottom:15px;
        width:100%;
    }
    .articuloOferta{
        justify-content: center;
        margin-bottom:15px;
        width:100%;
    }

}
@media(min-width:1440px){
    .contenedorImagen img{
        max-width: 100%;
    }
    .articulo{
        margin-bottom:15px;
        width:25%;
    }
    .articuloOferta{
        width:25%;
    }
    .articulo{
        position:relative;
        box-shadow: 0 0 10px gray;
        text-align: center;
        background-color: white;
    }
    .articuloOferta{
        box-shadow: 0 0 10px gray;
        text-align: center;
        background-color: white;
        flex-wrap: wrap;
    }
    .create-login-cart{
        display:inherit;
        margin-left:300px;
    }
    .titleCuotas{
        width:33%;
    }
    .barraBusqueda{
        width:33%;
    }
}