header {
    background-size:contain;
    background-color: #fff159;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing:border-box;
    width: 100vw;
    
}
li {
    list-style:none;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.price {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 20%;

}
.discount {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display:flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    width: 70%;
}
.containerPriceDiscount{
    width:430px;
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content:left;
}

.burger-menu{
    background-color: #0e61b9;
    color : rgba(255, 255, 255, 0.815);
    
    border-radius: 15%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}
.burger{
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 11px;
}
.credit-card{
    padding-left: 125px;
    padding-right: 125px;
    color:#1259c3;
    padding-bottom:10px;
}
.gift{
    padding-left: 125px;
    padding-right: 125px;
    color:#1259c3;
    padding-bottom:10px;
}
.user-shield{
    padding-left: 125px;
    padding-right: 125px;
    color:#1259c3;
    padding-bottom:10px;
}
.footerText1{
    text-align: center;
}
.footerText2{
    text-align: center;
}
.footerText3{
    text-align: center;
}

.bannerhome{
    text-align: center;
    margin:0;
}
.bannerimg{
    width: 100%;

}
footer{
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px gray;
}
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.containerArticles{
    display:flex;
    flex-direction:row;
    align-items:center;
    align-content:space-between;
    justify-content: space-between;
    background-color: #ebebeb;
    margin-bottom:15px;
}
.caja{
    border-top: 1px solid #ebebeb;
    text-align: left;
    margin:15px;
}

.divBurger{
    text-align: center;
}
article{
    text-align: center;
    background-color: white;
    width: 460px;
    border-bottom: 15px solid #ebebeb; 
}
.fas.fa-truck{
    color:#39b54a;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.fas.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left:400px;
    bottom: -15px;

}

ul{
   display: none; 
}
.discount{
    color:#39b54a;
}
@media (min-width:1024px) {

    header{
        box-sizing:content-box;
        background-color: #fff159;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        width: 100vw;
        }
    .fas-fa-bars{
        display:none;
    }
    .description {
        color:#666;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
    article{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
    .site{
        display: inherit;
    }
    .create-login-cart{
        display:inherit;
    }

}

@media (min-width:768px) {
    .containerArticles article{
        width:20%;
    }
    header{
    box-sizing: content-box;
    height: 40%;
    background-color: #fff159;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: 100%;
    }
    .fas-fa-bars{
        display:none;
    }
    .description {
        color:#666;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
    article{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
    .site{
        display: inherit;
     }
    .create-login-cart{
        display:inherit;
    }
}
@media (min-width: 361px){
    header{
        background-color: #fff159;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        width: 100%;
        }
    article{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
}
